@import 'tailwindcss';

.btn-primary {
  @apply relative flex items-center justify-center px-4 py-2 rounded-lg transition shadow-lg;
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  &:hover {
    color: black;
    background-color: var(--color-accent);
  }
}

.chain-card {
  @apply px-16 py-8 text-lg rounded-2xl border-3 hover:scale-105 transition shadow-lg;
  border-color: var(--color-primary);
  background-color: var(--color-primary);

  &:hover {
    border-color: var(--color-accent);
  }
}

.attribute-card {
  @apply rounded-lg border p-3 text-center min-w-[220px];
  color: var(--color-text-accent);
}
