@reference "tailwindcss";

.btn-primary {
  @apply relative px-4 py-2 rounded-lg transition shadow-lg text-sm md:text-base;
  color: var(--color-text-primary);
  background-color: var(--color-primary);
  &:hover {
    color: black;
    background-color: var(--color-accent);
  }
  .spinner {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
}

.chain-card {
  @apply px-16 py-8 text-lg rounded-2xl border-3 hover:scale-105 transition shadow-lg;
  border-color: var(--color-primary);
  background-color: var(--color-primary);

  &:hover {
    border-color: var(--color-accent);
  }
}

.attribute-card {
  @apply border rounded-lg p-2 xl:p-3 text-center;
  color: var(--color-text-accent);
}
