@import 'tailwindcss';

:root {
  --color-primary: #0037ff;
  --color-accent: #00f5d4;
  --color-bg: #24203e;
  --color-text-primary: #ffffff;
  --color-text-accent: #c0c3c9;

  --font: 'Michroma', sans-serif;
  --text-size: 1rem;

  --header-height: 6rem;
  --header-margin-bottom: 1rem;
}

header {
  background-color: var(--color-bg);
  font-family: var(--font);
  min-height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--header-margin-bottom);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font);
  background-color: var(--color-bg);
  color: var(--color-text-primary);
}

main {
  min-height: calc(
    100vh - var(--header-height) - var(--header-margin-bottom) - 0.5rem
  );
}

h1 {
  @apply mb-4;
}

h2 {
  @apply text-lg md:text-xl;
}

button {
  cursor: pointer;
  min-width: 100px;
  min-height: 40px;

  &:disabled,
  &:has(.spinner) {
    cursor: default;
    pointer-events: none;
  }

  &:disabled {
    opacity: 0.6;
  }
}

form {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  border: 3px solid;
  border-radius: 8px;

  .success,
  .error {
    display: block;
    font-size: 0.8rem;
    font-weight: 600;
    min-height: 1.325rem;
    margin-left: 0.25rem;
    max-width: 100%;
    word-wrap: break-word;
  }
  .success {
    color: green;
  }
  .error {
    color: red;
  }
}

label {
  @apply ml-1 text-[0.75rem] sm:text-[0.85rem] font-semibold text-[var(--color-accent)];
}

input,
textarea {
  @apply text-[var(--color-text-accent)] w-full border border-solid rounded-sm p-1 mb-3 font-bold text-[0.75rem] sm:text-[0.85rem];
  font-size: 0.75rem;

  &:disabled {
    user-select: none;
    opacity: 0.7;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}
